{% extends "::base.html.twig" %}

{% block title %}AppBundle:HojaMedico:show{% endblock %}

{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Home
            {#<small>Control panel</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-home active"></i> Home</li>
        </ol>
    </section>
{% endblock %}
{% block ContentBody %}
    <h1>Welcome to the HojaMedico:show page</h1>
    <section class="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Hoja Medico</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-group" id="accordion">
                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                           aria-expanded="false" class="collapsed">
                                            Historia de la enfermedad actual
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="box-body">
                                        {{ hoja.historiaEnfermedadActual | raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-danger">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                           class="collapsed" aria-expanded="false">
                                            Examen Físico
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false"
                                     style="height: 0px;">
                                    <div class="box-body">
                                        {{ hoja.examenFisico | raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-success">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                           class="" aria-expanded="true">
                                            Evolución y tratamiento
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
                                    <div class="box-body">
                                        {{ hoja.evolucionTratamiento | raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        {% if hoja.tratamientoAntibioticos %}
                            <span class="badge bg-red">Antibioticos</span>
                        {% endif %}
                    </div>
                </div><!-- /.box -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-default ">
                    <div class="box-header with-border">
                        <i class="fa fa-heartbeat fa-fw"></i> Complementarios
                    </div>
                    <div class="box-body timeline-box">
                        <ul class="timeline">
                            {#TODO: buscar como invertir el indice de la busqueda#}
                            {% for complementario in hoja.complemetarios | sort('datetime') %}
                            <li class="{% if complementario.id %2 %}timeline-inverted{% else %}{% endif %}">
                                <div class="timeline-badge"><i class="fa {% if complementario.laboratorista and complementario.resultado  %}fa-check{% else %}fa-hourglass-o{% endif %}"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">{{ complementario.nombre }}</h4>
                                        <p>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i> {{ complementario.datetime | ago }}
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{ complementario.resultado }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-info" href="{{ path('app_consulta_fetch', {'hid':hoja.id,'pid':paciente.id}) }}">Archivar Consulta</a>
        <a class="btn btn-info" href="{{ path('app_ingreso_fetch', {'hid':hoja.id,'pid':paciente.id}) }}">Ingresar</a>
        <a class="btn btn-info" href="{{ path('app_complementario_fetch', {'hid':hoja.id,'pid':paciente.id}) }}">Solicitar complementario</a>
    </section>
{% endblock %}
