{% extends '::base.html.twig' %}

 {% block title %}
     AppBundle:HojaEnfermeria:show
 {% endblock %}

{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Hoja de Temperatura
            <small>Mostrar una hoja de temperatura</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home active"></i> Home</a></li>
            {#<li class="active">Dashboard</li>#}
        </ol>
    </section>
{% endblock %}

{% block ContentBody %}
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-5">
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-red">
                        <div class="widget-user-image">

                        </div><!-- /.widget-user-image -->
                        <h3 class="widget-user-username"><i
                                    class="fa fa-heartbeat fa-2x"></i> Hoja de Temperatura
                        </h3>
                        <br>
                            <h5 class="widget-user-desc">Paciente: <a class="text-navy" href="{{ path('paciente_show', {'id': hojaEnfermeria.ingreso.paciente.id}) }}">{{ hojaEnfermeria.ingreso.paciente.nombre }} {{ hojaEnfermeria.ingreso.paciente.primerApellido }} {{ hojaEnfermeria.ingreso.paciente.segundoApellido }}</a></h5>
                        <h5 class="widget-user-desc">Enfermero/a: {{ hojaEnfermeria.enfermero.nombre }}</h5>
                        <h5 class="widget-user-desc">Fecha: {{ hojaEnfermeria.datetime|date('d/m/y') }}
                            ({{ hojaEnfermeria.datetime|ago }}) </h5>
                    </div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Temperatura <span
                                            class="pull-right">{{ hojaEnfermeria.temperatura }} °C</span></a>
                            </li>
                            <li><a href="#">Pulso <span class="pull-right">{{ hojaEnfermeria.pulso }}</span></a>
                            </li>
                            <li><a href="#">Respiración <span
                                            class="pull-right">{{ hojaEnfermeria.respiracion }} </span></a></li>
                            <li><a href="#">Tension Arterial <span
                                            class="pull-right">{{ hojaEnfermeria.tensionArterialMax }}
                                        / {{ hojaEnfermeria.tensionArterialMin }}</span></a></li>
                        </ul>
                    </div>

                    <div class="box-footer no-padding">

                    </div>
                </div>
            </div>
        </div>
    </section>

    {#{{ form_start(delete_form) }}#}
    {#<div class="btn-group" role="group" aria-label="...">#}

    {#<a role="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Atras"#}
    {#href="{{ path('hojaenfermeria_index') }}"><i class="fa fa-chevron-left"></i></a>#}
    {#<a role="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Editar"#}
    {#href="{{ path('hojaenfermeria_edit', { 'id': hojaEnfermeria.id }) }}"><i class="fa fa-edit"></i></a>#}
    {#<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Eliminar"><i#}
    {#class="fa fa-trash"></i></button>#}
    {#</div>#}
    {#{{ form_end(delete_form) }}#}

{% endblock %}
