{% extends '::base.html.twig' %}

 {% block title %}
     Mostrar - Hoja de Temperatura
 {% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Hoja de Temperatura
            <small>Mostrar una hoja de temperatura</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-yellow">
                        <div class="widget-user-image">
                        </div>
                        <h3 class="widget-user-username"><i
                                    class="fa fa-stethoscope fa-2x"></i> Hoja de Temperatura
                        </h3>
                        <br>
                            <h5 class="widget-user-desc">Paciente: <a class="text-navy" href="{{ path('paciente_show', {'id': hojaEnfermeria.ingreso.paciente.id}) }}">{{ hojaEnfermeria.ingreso.paciente.nombre }} {{ hojaEnfermeria.ingreso.paciente.primerApellido }} {{ hojaEnfermeria.ingreso.paciente.segundoApellido }}</a></h5>
                        <h5 class="widget-user-desc">Enfermero/a: {{ hojaEnfermeria.enfermero.nombre }}</h5>
                        <h5 class="widget-user-desc">Fecha: {{ hojaEnfermeria.datetime|date('d/m/y') }}
                            ({{ hojaEnfermeria.datetime|ago }}) </h5>
                    </div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Temperatura <span
                                            class="pull-right">{{ hojaEnfermeria.temperatura }} °C</span></a>
                            </li>
                            <li><a href="#">Pulso <span class="pull-right">{{ hojaEnfermeria.pulso }}</span></a>
                            </li>
                            <li><a href="#">Respiración <span
                                            class="pull-right">{{ hojaEnfermeria.respiracion }} </span></a></li>
                            <li><a href="#">Tension Arterial <span
                                            class="pull-right">{{ hojaEnfermeria.tensionArterialMax }}
                                        / {{ hojaEnfermeria.tensionArterialMin }}</span></a></li>
                        </ul>
                    </div>

                    <div class="box-footer no-padding">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
