<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    {% endblock %}
    <title>
        {% block title %}
            Registro médico
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.min.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bower_components/datatables/media/css/dataTables.bootstrap.min.css') }}">
        {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
</head>
<body class="sidebar-mini skin-purple-light">
{% block body %}
    <div class="wrapper">
        <header class="main-header fixed">
            {% include(':default:header.html.twig') %}
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                {% include(':default:aside.html.twig') %}
            </section>
        </aside>

        {% block Content %}
            <div class="content-wrapper">
                {% block ContentHeader %}
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            Home
                            {#<small>Control panel</small>#}
                        </h1>
                    </section>
                {% endblock %}
                {% block ContentBody %}
                    <!-- Main content -->
                    <section class="content">

                        <!-- Main row -->
                        <div class="row">
                        </div><!-- /.row (main row) -->

                    </section><!-- /.content -->
                {% endblock %}
            </div>
        {% endblock %}

        <footer class="main-footer">
            {% include (':default:footer.html.twig') %}
        </footer>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/AdminLTE.min.js') }}"></script>
    <script src="{{ asset('bower_components/input-mask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('bower_components/input-mask/jquery.inputmask.extensions.min.js') }}"></script>
    <script src="{{ asset('bower_components/input-mask/jquery.inputmask.date.extensions.min.js') }}"></script>
    {#<script src="{{ asset('bower_components/ckeditor/ckeditor.js') }}"></script>#}
    <script src="{{ asset('js/scripts.min.js') }}"></script>
{% endblock %}
</body>
</html>
