{% if(app.user) %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="{% if is_granted('ROLE_ENFERMERO') %}{{ asset('img/nurse-icon.jpg') }}{% endif %}{% if is_granted('ROLE_LABORATORIO') %}{{ asset('img/lab-icon.jpg') }}{% endif %}{% if is_granted('ROLE_ESTUDIANTE') %}{{ asset('img/doctor-icon.jpg') }}{% endif %}{% if is_granted('ROLE_RESIDENTE') %}{{ asset('img/doctor-icon.jpg') }}{% endif %}{% if is_granted('ROLE_DOCTOR') %}{{ asset('img/doctor-icon.jpg') }}{% endif %}{% if is_granted('ROLE_ADMIN') %}{{ asset('img/user-icon.jpg') }}{% endif %}"
             class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>{{ app.user.nombre }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>


<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
    </div>
</form>
{% endif %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">Menu de Navegación</li>
    <li>
        <a id="nav_" href="{{ path('homepage') }}">
            <i class="fa fa-home"></i> <span>Home</span>
            {#<i class="fa fa-angle-left pull-right"></i>#}
        </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
        <a id="nav_admin" href="{{ path('sonata_admin_dashboard') }}">
            <i class="fa fa-dashboard"></i> <span>Administración</span>
            {#<i class="fa fa-angle-left pull-right"></i>#}
        </a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_RESIDENTE') %}
    <li>
        <a id="nav_consulta" href="{{ path('app_consulta_new') }}">
            <i class="fa fa-medkit"></i> <span>Consulta</span>
            {#<small class="label pull-right bg-green">new</small>#}
        </a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_RESIDENTE') or is_granted('ROLE_ESTUDIANTE') %}
    <li>
        <a id="nav_ingreso" href="{{ path('app_ingreso_index') }}">
            <i class="fa fa-hospital-o"></i> <span>Ingresados</span>
            {#<small class="label pull-right bg-green">new</small>#}
        </a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_LABORATORIO') %}
    <li>
        <a id="nav_complementario" href="{{ path('app_complementario_index') }}">
            <i class="fa fa-heartbeat"></i> <span>Complementarios</span>
            {#<small class="label pull-right bg-green">new</small>#}
        </a>
    </li>
    {% endif %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder-open-o"></i>
            <span>Archivo</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a id="nav_historias" href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Historias
                    Clínicas</a></li>
            <li><a id="nav_consultas" href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Consultas</a></li>
        </ul>
    </li>

</ul>
