{% extends '::base.html.twig' %}

{#{% block title %}Seguridad{% endblock %}#}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/backend.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <script src="{{ asset('js/backend.min.js') }}"></script>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fa fa-plus text-danger"></i> Regístros
                médicos</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            {% if(app.user) %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hola {{ app.user }}
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

