{% extends '::base.html.twig' %}

{% block title %}
    Mostrar - Consulta
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Consulta
            <small>Mostrar una consulta</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-olive">
                        <h3 class="widget-user-username"><i class="fa fa-medkit fa-2x"></i> Consulta</h3>
                        <h5 class="widget-user-desc">Paciente: <a class="text-navy"
                                                                  href="{{ path('paciente_show', {'id': consulta.paciente.id }) }}">{{ consulta.paciente.nombre }} {{ consulta.paciente.primerApellido }} {{ consulta.paciente.segundoApellido }}</a>
                        </h5>
                        {% if consulta.hojasMedico.get(0).doctor %}
                            <h5 class="widget-user-desc">Dr. : {{ consulta.hojasMedico.get(0).doctor.nombre }}</h5>
                        {% endif %}
                        {% if consulta.hojasMedico.get(0).residente %}
                            <h5 class="widget-user-desc">Dr. : {{ consulta.hojasMedico.get(0).residente.nombre }}
                                (Residente - {{ consulta.hojasMedico.get(0).residente.ano }} año)</h5>
                        {% endif %}
                        <h5 class="widget-user-desc">Fecha: {{ consulta.fecha|date('d/m/y') }} ({{ consulta.fecha|ago }}
                            )</h5>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Hist. enfermedad actual</a></li>
                                <li><a href="#tab_2" data-toggle="tab">Examen Físico</a></li>
                                <li><a href="#tab_3" data-toggle="tab">Impresión Diagnostica</a></li>
                                <li><a href="#tab_4" data-toggle="tab">Evolución y tratamiento</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <b>Historia de la enfermedad actual:</b>
                                    <p>{{ consulta.hojasMedico.get(0).historiaEnfermedadActual|raw }}</p>

                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    <b>Examen Físico:</b>
                                    <p>{{ consulta.hojasMedico.get(0).examenFisico|raw }}</p>

                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    <b>Impresión Diagnostica:</b>
                                    <p>{{ consulta.hojasMedico.get(0).impresionDiagnostica|raw }}</p>
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_4">
                                    <b>Evolución y tratamiento:</b>
                                    <p>{{ consulta.hojasMedico.get(0).evolucionTratamiento|raw }}</p>
                                </div><!-- /.tab-pane -->
                            </div><!-- /.tab-content -->
                        </div>

                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        {% if consulta.hojasMedico.get(0).tratamientoAntibioticos %}
                            <span class="badge bg-red">Antibioticos</span>
                        {% endif %}
                        <p class="pull-right">Servicio: {{ consulta.servicio }}</p>
                    </div>
                </div><!-- /.box -->
            </div>
        </div>

        {% if consulta.hojasMedico.get(0).complemetarios.get(0) %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box box-default ">
                        <div class="box-header with-border">
                            <i class="fa fa-heartbeat fa-fw"></i> Complementarios
                        </div>
                        <div class="box-body box-timeline">
                            <ul class="timeline">
                                {% for element in consulta.hojasMedico.get(0).complemetarios | sort|reverse %}
                                    <li class="{% if (loop.index + 1) %2 %}timeline-inverted{% else %}{% endif %}">
                                        {% if element.laboratorista and element.resultado %}
                                            <div class="timeline-badge bg-green">
                                                <i class="fa fa-heartbeat"></i>
                                            </div>
                                        {% else %}
                                            <div class="timeline-badge ">
                                                <i class="fa fa-hourglass-o"></i>
                                            </div>
                                        {% endif %}
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Complementario
                                                    <small>({{ element.nombre }})</small>
                                                </h4>
                                                <p>
                                                    <small class="text-muted"><i
                                                                class="fa fa-clock-o"></i> {{ element.datetime|date('d/m/y') }} {{ element.datetime|ago }}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                {% if element.laboratorista and element.resultado %}
                                                    <p>
                                                        <a href="{{ path('app_complementario_show', {'id': element.id }) }}">Mostrar
                                                            resultados</a></p>
                                                {% else %}
                                                    <small>Este complementario aun está siendo procesado</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}