{% extends "::base.html.twig" %}

{% block title %}
    Resumen - Ingreso
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Ingreso
            <small>Resumen de ingreso</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="row">
            <div class="col-md-6">

                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-blue-gradient">
                        <div class="widget-user-image">

                        </div><!-- /.widget-user-image -->
                        <h3 class="widget-user-username"><i class="fa fa-hospital-o fa-2x"></i> Resumen de ingreso
                        </h3>
                        <br>
                        <h5 class="widget-user-desc">Paciente: <a class="text-navy"
                                                                  href="{{ path('paciente_show', {'id': ingreso.paciente.id }) }}">{{ ingreso.paciente.nombre }} {{ ingreso.paciente.primerApellido }} {{ ingreso.paciente.segundoApellido }}</a>
                        </h5>
                        <h5 class="widget-user-desc">Fecha de ingreso: {{ ingreso.fechaIngreso|date('d/m/y') }}
                            ({{ ingreso.fechaIngreso|ago }})</h5>
                        {% if ingreso.fechaSalida %}
                            <h5 class="widget-user-desc">Fecha de egreso: {{ ingreso.fechaSalida|date('d/m/y') }}
                                ({{ ingreso.fechaSalida|ago }})</h5>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <li><a href="#">Sala: <span class="pull-right">{{ ingreso.sala.sala.nombre }}</span></a>
                            </li>
                            <li><a href="#">Servicio: <span
                                            class="pull-right">{{ ingreso.sala.sala.servicio }}</span></a></li>
                            <li><a href="#">Tipo de ingreso: <span
                                            class="pull-right">{{ ingreso.tipoIngreso }}</span></a></li>
                            <li><a href="#">Procedencia: <span class="pull-right">{{ ingreso.procedencia }}</span></a>
                            </li>

                            {% if ingreso.estadoEgreso %}
                                <li><a href="#">Estado al egreso: <span
                                                class="pull-right">{{ ingreso.estadoEgreso }}</span></a>
                                </li>
                            {% endif %}
                            {% if ingreso.repercusionIncapacidadFisica %}
                                <li><a href="#">Repercusión o incapacidad física: <span
                                                class="pull-right">{{ ingreso.repercusionIncapacidadFisica }}</span></a>
                                </li>
                            {% endif %}
                            {% if ingreso.seguimiento %}
                                <li><a href="#">Seguimiento: <span
                                                class="pull-right">{{ ingreso.seguimiento }}</span></a>
                                </li>
                            {% endif %}
                            {% if ingreso.necropsia %}
                                <li><a href="#"><span class="pull-right badge bg-red">Necropsia</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="box-footer no-padding">

                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-12">

                    <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-heartbeat fa-fw"></i> Historial médico</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body box-timeline">
                            <ul class="timeline">
                                {% for element in timeline %}
                                    <li class="{% if (loop.index + 1) %2 %}timeline-inverted{% else %}{% endif %}">
                                        {% set template = "@App/Timeline/" ~ (element|class) ~ ".html.twig" %}
                                        {% include template with {'element': element} %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- /.box-body -->
                    </div>

                </div>
            </div>
        </div>
       {% if is_granted('ROLE_ENFERMERO') %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Nueva hoja enfermería <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('app_hojaenfermeria_new', {'id': ingreso.id }) }}">Hoja de temperatura</a></li>
                <li><a href="{{ path('app_hojaenfermeria2_new', {'id': ingreso.id }) }}">Hoja de líquidos y
                        deposiciones</a></li>
            </ul>
        </div>
       {% endif %}
        {% if is_granted('ROLE_DOCTOR') or is_granted('ROLE_RESIDENTE') %}
        <a class="btn btn-default" href="{{ path('app_hojamedico_new', { 'id': ingreso.id }) }}">Nueva hoja de
            evolución</a>
        <a class="btn btn-default" href="{{ path('app_ingreso_change', { 'id': ingreso.id }) }}">Transferir de sala</a>
        <a class="btn btn-default" href="{{ path('app_ingreso_leave', { 'id': ingreso.id }) }}">Dar de alta/baja</a>
        {% endif %}
    </section>
{% endblock %}
