{% extends "::base.html.twig" %}
{% block title %}AppBundle:Ingreso:show{% endblock %}

{% block ContentHeader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ingreso
            <small>Muestra detalles del ingreso</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-home active"></i> Home</li>
        </ol>
    </section>
{% endblock %}
{% block ContentBody %}
    <section class="content">
        <div class="row">
            <div class="col-md-6">

                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-blue-gradient">
                        <div class="widget-user-image">

                        </div><!-- /.widget-user-image -->
                        <h3 class="widget-user-username"><i class="fa fa-medkit fa-2x"></i> Resumen de ingreso
                        </h3>
                        <br>
                        <h5 class="widget-user-desc">Paciente: <a class="text-navy"
                                                                  href="{{ path('paciente_show', {'id': ingreso.paciente.id }) }}">{{ ingreso.paciente.nombre }} {{ ingreso.paciente.primerApellido }} {{ ingreso.paciente.segundoApellido }}</a>
                        </h5>
                        <h5 class="widget-user-desc">Fecha de ingreso: {{ ingreso.fechaIngreso|date('d/m/y') }}
                            ({{ ingreso.fechaIngreso|ago }})</h5>
                        {% if ingreso.fechaSalida %}
                            <h5 class="widget-user-desc">Fecha de engreso: {{ ingreso.fechaSalida|date('d/m/y') }}
                                ({{ ingreso.fechaSalida|ago }})</h5>
                        {% endif %}
                    </div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            {#<li><a href="{{ path('paciente_show', {'id': ingreso.paciente.id }) }}">Paciente: <span class="pull-right">{{ ingreso.paciente.nombre }} {{ ingreso.paciente.primerApellido }} {{ ingreso.paciente.segundoApellido }}</span></a>#}
                            {#</li>#}
                            <li><a href="#">Sala: <span class="pull-right">{{ ingreso.sala.sala.nombre }}</span></a>
                            </li>
                            <li><a href="#">Servicio: <span
                                            class="pull-right">{{ ingreso.sala.sala.servicio }}</span></a></li>
                            <li><a href="#">Tipo de ingreso: <span
                                            class="pull-right">{{ ingreso.tipoIngreso }}</span></a></li>
                            <li><a href="#">Procedencia: <span class="pull-right">{{ ingreso.procedencia }}</span></a>
                            </li>

                            {% if ingreso.estadoEgreso %}
                                <li><a href="#">Servicio: <span class="pull-right">{{ ingreso.estadoEgreso }}</span></a>
                                </li>
                            {% endif %}
                            {% if ingreso.repercusionIncapacidadFisica %}
                                <li><a href="#">Servicio: <span
                                                class="pull-right">{{ ingreso.repercusionIncapacidadFisica }}</span></a>
                                </li>
                            {% endif %}
                            {% if ingreso.seguimiento %}
                                <li><a href="#">Servicio: <span class="pull-right">{{ ingreso.seguimiento }}</span></a>
                                </li>
                            {% endif %}
                            {% if ingreso.necropsia %}
                                <li><a href="#">Servicio: <span class="pull-right">{{ ingreso.necropsia }}</span></a>
                                </li>
                            {% endif %}
                            {#<li><a href="#">Servicio: <span class="pull-right">{{ ingreso.sala }}</span></a></li>#}
                        </ul>
                    </div>

                    <div class="box-footer no-padding">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box box-default ">
                        <div class="box-header with-border">
                            <i class="fa fa-heartbeat fa-fw"></i> Historial médico
                        </div>
                        <div class="box-body box-timeline">
                            <ul class="timeline">
                                {% for element in timeline %}
                                    <li class="{% if (loop.index + 1) %2 %}timeline-inverted{% else %}{% endif %}">
                                        {% set template = "@App/Timeline/" ~ (element|class) ~ ".html.twig" %}
                                        {% include template with {'element': element} %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-default" href="{{ path('app_hojamedico_fetch', { 'id': ingreso.paciente.id }) }}">Nueva hoja de evolución</a>
        <a class="btn btn-default" href="{{ path('app_hojamedico_fetch', { 'id': ingreso.paciente.id }) }}">Transferir de sala</a>
        <a class="btn btn-default" href="{{ path('app_hojamedico_fetch', { 'id': ingreso.paciente.id }) }}">Dar de alta/baja</a>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Nueva hoja enfermería <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('hojaenfermeria_new') }}">Hoja de temperatura</a></li>
                <li><a href="{{ path('hojaenfermeria2_new') }}">Hoja de líquidos y depociciones</a></li>
            </ul>
        </div>

    </section>

{% endblock %}
