    {% extends ':default:backend.html.twig' %}

    {% block BackendContent %}
    <h1>Lista de Sexo</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
                <th>Id</th>
                <th>Sexo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for sexo in sexos %}
        <tr>
                    <td>
                        <a href="{{ path('sexo_show', { 'id': sexo.id }) }}">{{ sexo.id }}</a>
                    </td>
                    <td>{{ sexo.sexo }}</td>
                    <td>

                        <div class="btn-group" role="group" aria-label="...">
                                                                    <a role="button" class="btn btn-primary"
                                       href="{{ path('sexo_show', { 'id': sexo.id }) }}"><i
                                                class="fa fa-list"></i> show</a>

                                
                                                                    <a role="button" class="btn btn-success"
                                       href="{{ path('sexo_edit', { 'id': sexo.id }) }}"><i
                                                class="fa fa-edit"></i> edit</a>

                                
                        </div>

                    </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
            <a class="btn btn-info" href="{{ path('sexo_new') }}"><i class="fa fa-plus"></i> Crear un nuevo/a Sexo</a>
        </div>
    {% endblock %}
