<div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Datos generales</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Dirección</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Antecedentes patológicos</a></li>
            <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Contacto de Emergencias</a></li>
            <li class="pull-right header"><i class="fa fa-user"></i>Datos del paciente</li>
        </ul>
        {{ form_start(edit_form) }}
        <div class="tab-content box-form">
            <div class="tab-pane active" id="tab_1">
                {{ form_row(edit_form.nombre) }}
                {{ form_row(edit_form.primerApellido) }}
                {{ form_row(edit_form.segundoApellido) }}
                {{ form_row(edit_form.segundoApellido) }}
                {{ form_row(edit_form.sexo) }}
                {{ form_row(edit_form.fechaNacimiento) }}
                {{ form_row(edit_form.cId) }}
                {{ form_row(edit_form.colorPiel) }}
                {{ form_row(edit_form.estadoConyugal) }}
                {#{{ form_row(edit_form.paisNacimiento) }}#}
                {#{{ form_row(edit_form.provinciaNacimiento) }}#}
                {#{{ form_row(edit_form.municipioNacimiento) }}#}
                {{ form_row(edit_form.telefono) }}
                {{ form_row(edit_form.nombreCentroTrabajo) }}
                {{ form_row(edit_form.direccionCentroTrabajo) }}
            </div>
            <div class="tab-pane" id="tab_2">
                {{ form_row(edit_form.direccionCalle) }}
                {{ form_row(edit_form.direccionCasaNo) }}
                {{ form_row(edit_form.direccionEntreCalles) }}
                {{ form_row(edit_form.direccionLocalidad) }}
                {{ form_row(edit_form.direccionMunicipio) }}
                {{ form_row(edit_form.direccionProvincia) }}
            </div>
            <div class="tab-pane" id="tab_3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="tab-pane" id="tab_4">
                {{ form_row(edit_form.EmergenciasNombre) }}
                {{ form_row(edit_form.EmergenciasPrimerApellido) }}
                {{ form_row(edit_form.EmergenciasSegundoApellido) }}
                {{ form_row(edit_form.Emergenciastelefono) }}
                {{ form_row(edit_form.emergenciasDireccionCalle) }}
                {{ form_row(edit_form.emergenciasDireccionCasaNo) }}
                {{ form_row(edit_form.emergenciasDireccionEntreCalles) }}
                {{ form_row(edit_form.emergenciasDireccionLocalidad) }}
                {{ form_row(edit_form.emergenciasDireccionMunicipio) }}
                {{ form_row(edit_form.emergenciasDireccionProvincia) }}
            </div>
        </div>
        <button type="submit" class="btn box-btn-submit btn-info pull-right">Continuar</button>
        {{ form_end(edit_form) }}
    </div>
</div>

{#<h1>Paciente edit</h1>#}

{#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
{#<button type="submit" class="btn btn-info pull-right">Continuar</button>#}
{#{{ form_end(edit_form) }}#}