{% extends '::base.html.twig' %}

{% block title %}
    Buscar
{% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Buscar
            <small>Resultados de la busqueda</small>
        </h1>
    </section>
{% endblock %}
{% block ContentBody %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Resultados de la busqueda</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="datatables-table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>CI</th>
                                <th>Fecha de nacimiento</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for paciente in pacientes %}
                                <tr>
                                    <td>
                                        <a href="{{ path('paciente_show', {'id': paciente.id }) }}">{{ paciente.nombre }} {{ paciente.primerApellido }} {{ paciente.segundoApellido }}</a>
                                    </td>
                                    <td>{{ paciente.cId }}</td>
                                    <td>{{ paciente.fechaNacimiento | date('d/m/y') }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}