{% extends '::base.html.twig' %}

 {% block title %}
     Mostrar - Complementario
 {% endblock %}

{% block ContentHeader %}
    <section class="content-header">
        <h1>
            Complementario
            <small>Mostrar el resultado de un complementario</small>
        </h1>
    </section>
{% endblock %}

{% block ContentBody %}
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-green">

                        <h3 class="widget-user-username"><i
                                    class="fa fa-heartbeat fa-2x"></i> Complementario
                        </h3>
                        <br>
                        {% if complementario.hojaMedico.ingreso %}
                            <h5 class="widget-user-desc">Paciente: <a class="text-navy"
                                                                      href="{{ path('paciente_show', {'id': complementario.hojaMedico.ingreso.paciente}) }}">{{ complementario.hojaMedico.ingreso.paciente.nombre }} {{ complementario.hojaMedico.ingreso.paciente.primerApellido }} {{ complementario.hojaMedico.ingreso.paciente.segundoApellido }}</a>
                            </h5>
                        {% endif %}
                        {% if complementario.hojaMedico.consulta %}
                            <h5 class="widget-user-desc">Paciente: <a class="text-navy"
                                                                      href="{{ path('paciente_show', {'id': complementario.hojaMedico.consulta.paciente}) }}">{{ complementario.hojaMedico.consulta.paciente.nombre }} {{ complementario.hojaMedico.consulta.paciente.primerApellido }} {{ complementario.hojaMedico.consulta.paciente.segundoApellido }}</a>
                            </h5>
                        {% endif %}
                        <h5 class="widget-user-desc">Laboratorista: {{ complementario.laboratorista.nombre }}</h5>
                        <h5 class="widget-user-desc">Fecha: {{ complementario.datetime|date('d/m/y') }}
                            ({{ complementario.datetime|ago }}) </h5>
                    </div>
                    <div class="box-body">
                        <ul class="nav nav-stacked">
                            <span>Resultado: <p class="pull-right">{{ complementario.resultado }}</p></span>
                        </ul>
                    </div>

                    <div class="box-footer no-padding">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
